/*formato de todas las TAG's*/

body {
    background-image: url("Imagenes/Fondo-Web-b.jpg");
    background-repeat: repeat;
}


h1 {
    margin-bottom: 100px;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 15mm;
    color: brown;
}

h2 {
    padding: 10px;
    font-size: 9mm;
    font-style: italic;
    text-decoration: underline;
}
h4{
    font-style: italic;
    font-size: 5.5mm;
    text-decoration:  underline;
}
h6 {
    font-style: italic;
    color: olivedrab;
}

/*formato de todas las ID's*/

#Teoria {
    background-color: rgba(255, 167, 0, 0.62);
    bottom: 450px;
    right: 90px;
    color: black;
}

#AutoEv {
    background-color: rgba(255, 167, 0, 0.62);
    bottom: 405px;
    right: 90px;
    color: black;
}

#Triangulo {
    background-color: darkblue;
}

#Calcular {
    background-color: rgba(119, 201, 37, 0.75);
}

#CalcularNew {
    margin: 15px;
    margin-top: 25px;
    background-color: rgba(119, 201, 37, 0.75);

}

#Reiniciar {
    bottom: 90px;
    right: 300px;
    background-color: rgba(189, 0, 10, 0.75);
}

#Trigo {
    position: absolute;
    bottom: 1900px;
    padding-right: 20px;
}

#Terminar {
    margin-bottom: 50px;
    background-color: lightseagreen;
}

#Reset {
    margin-bottom: 50px;
    background-color: #e2553f;
}

#myCanvas{
    margin-bottom: 0;
    border: 1px solid black;
    width: 50em;
    height: 30em;
    background-color: whitesmoke;
}



/*formato de todas las clases*/

.separacion {
    padding: 20px;
}

.cabecera {
    text-align: start;
    font-size: 9mm;
    font-style: italic;
}

.card-title {
    text-decoration: underline;
    color: steelblue;
}




.btn-success {
    position: fixed;
    right: 15px;
    bottom: 3px;
    background-color: unset;
    border-color: black;
    color: black;
    font-style: italic;
    font-weight: bold;
    z-index: 5;
}

.preguntas {
    font-size: 5.5mm;
    font-style: italic;
}

.card {
    border: transparent;
    background-color: transparent;
}

.tabla{
    margin-top: 0;
}

.cartas {
    max-width: 800px;
}