
body {
    background-color: antiquewhite;
}

h1{
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border: 2px solid black;
    text-align: center;
    font-style:  italic;
    font-weight: bold;
}

#Teoria {
    position: absolute;
    bottom: 450px;
    right: 90px;
}

#AutoEv{
    position: absolute;
    bottom: 400px;
    right: 90px;
}

#Triangulo{
    background-color: darkblue;
}

#Calcular{
    position: relative;
    top: 350px;
    right: -960px;
    background-color: rgba(119,201,37,0.75);
}
#Reiniciar{
    position: relative;
    top: 312px;
    right: -835px;
    background-color: rgba(189,0,10,0.75);
}



.cabecera{
    text-align: start;
}